asgiref==3.2.3
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==2.2.9
Django==2.2.7
django-bootstrap4==1.1.1
django-braces==1.14.0
django-heroku==0.3.1
django-model-utils==4.0.0

django-registration==3.1
django-star-ratings==0.9.1
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.5.0
more-itertools==8.2.0
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1

django-registration==3.0.1
django-star-ratings==0.9.1
idna==2.9
Pillow==7.0.0
psycopg2==2.8.4
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
pytest-django==3.8.0
python-dateutil==2.8.1
pytz==2019.3
pyuploadcare==2.6.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
swapper==1.1.2.post1
urllib3==1.25.8
wcwidth==0.1.8
whitenoise==5.0.1
zipp==3.0.0

whitenoise==5.0.1

